body {
    margin: 0;
    background-color: #5d77df;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

img {
    /* width: 100%; */
    /* height: auto; */
}

/* buttons */

.buttons {
    width: 100vw;
    padding: 1rem 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    /* padding: .25rem .5rem; */
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    /* background-color: #8d9cd7; */
    /* color: #3a4a89; */
    /* border-radius: 999px; */
}

.click-me-button {
    position: absolute;
    /* bottom: 0; */
    top: 1rem;

    margin-bottom: 2rem;
}

#click-me:hover {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
        transform: rotate(0);
    }

    25% {
        transform: translate(-5px, 0);
        transform: rotate(-10deg);
    }

    50% {
        transform: translate(0, 0);
        transform: rotate(0);
    }

    75% {
        transform: translate(5px, 0);
        transform: rotate(10deg);
    }

    100% {
        transform: translate(0, 0);
        transform: rotate(0);
    }
}

/* text */

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name, .age {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.name {
    margin-top: 2rem;
}

.k, .e, .v, .i, .n, .num-2, .num-5 {
    opacity: 0;
}

.age {
    margin-bottom: 2rem;
}

/* kev */

.kev {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.kev img {
    width: 20%;
}

/* fireworks */

.fireworks {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.firework-1 {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.firework-2 {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

/* message */

.happy-birthday {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.happy img, .birthday img {
    opacity: 0;
    /* width: 90%; */
    transform: scale(0.8);
}